<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
   <services>
      <service name="HelloSeervice.HelloService" behaviorConfiguration="TcpBehavior" >
        <endpoint address="net.tcp://localhost.localdomain:5050" binding="netTcpBinding" contract="HelloSeervice.IHelloService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TcpBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>